a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
*{margin:0;padding:0;-webkit-box-sizing:border-box;box-sizing:border-box}
html{width:100%;overflow-x:hidden}
body{max-width:100%;line-height:1.5;overflow-x:hidden;font-size:.875rem;font-family:Tahoma,sans-serif}
img{max-width:100%}
.m-b .test - 10px - class{padding:10px * 1px}
.m-b .test - 20px - class{padding:20px * 1px}
.m-b .test - 30px - class{padding:30px * 1px}
.m-b .test - 40px - class{padding:40px * 1px}
.m-b .test - 50px - class{padding:50px * 1px}
[class*=column]{width:100%;padding:0 7px}
.column-desktop-1-2,.column-desktop-1-3,.column-desktop-1-4,.column-desktop-1-5,.column-desktop-1-6,.column-desktop-2-3,.column-desktop-2-5,.column-desktop-3-4,.column-desktop-3-5,.column-desktop-4-5,.column-laptop-1-2,.column-laptop-1-3,.column-laptop-1-4,.column-laptop-1-5,.column-laptop-1-6,.column-laptop-2-3,.column-laptop-2-5,.column-laptop-3-4,.column-laptop-3-5,.column-laptop-4-5,.column-mobileonly-1-2,.column-mobileonly-1-3,.column-mobileonly-1-4,.column-mobileonly-1-5,.column-mobileonly-1-6,.column-mobileonly-2-3,.column-mobileonly-2-5,.column-mobileonly-3-4,.column-mobileonly-3-5,.column-mobileonly-4-5,.column-phablet-1-2,.column-phablet-1-3,.column-phablet-1-4,.column-phablet-1-5,.column-phablet-1-6,.column-phablet-2-3,.column-phablet-2-5,.column-phablet-3-4,.column-phablet-3-5,.column-phablet-4-5,.column-tablet-1-2,.column-tablet-1-3,.column-tablet-1-4,.column-tablet-1-5,.column-tablet-1-6,.column-tablet-2-3,.column-tablet-2-5,.column-tablet-3-4,.column-tablet-3-5,.column-tablet-4-5{padding:0 7px;width:100%}
@media (max-width:37.5em){.column-mobileonly-1-2{max-width:50%}
.column-mobileonly-1-3{max-width:33.33333%}
.column-mobileonly-1-4{max-width:25%}
.column-mobileonly-1-5{max-width:20%}
.column-mobileonly-3-4{max-width:75%}
.column-mobileonly-2-3{max-width:66.66667%}
.column-mobileonly-1-6{max-width:16.66667%}
.column-mobileonly-2-5{max-width:40%}
.column-mobileonly-3-5{max-width:60%}
.column-mobileonly-4-5{max-width:80%}}
@media (min-width:37.5em){.column-phablet-1-2{max-width:50%}
.column-phablet-1-3{max-width:33.33333%}
.column-phablet-1-4{max-width:25%}
.column-phablet-1-5{max-width:20%}
.column-phablet-3-4{max-width:75%}
.column-phablet-2-3{max-width:66.66667%}
.column-phablet-1-6{max-width:16.66667%}
.column-phablet-2-5{max-width:40%}
.column-phablet-3-5{max-width:60%}
.column-phablet-4-5{max-width:80%}}
@media (min-width:768px){.column-tablet-1-2{max-width:50%}
.column-tablet-1-3{max-width:33.33333%}
.column-tablet-1-4{max-width:25%}
.column-tablet-1-5{max-width:20%}
.column-tablet-3-4{max-width:75%}
.column-tablet-2-3{max-width:66.66667%}
.column-tablet-1-6{max-width:16.66667%}
.column-tablet-2-5{max-width:40%}
.column-tablet-3-5{max-width:60%}
.column-tablet-4-5{max-width:80%}}
@media (min-width:64em){.column-laptop-1-2{max-width:50%}
.column-laptop-1-3{max-width:33.33333%}
.column-laptop-1-4{max-width:25%}
.column-laptop-1-5{max-width:20%}
.column-laptop-3-4{max-width:75%}
.column-laptop-2-3{max-width:66.66667%}
.column-laptop-1-6{max-width:16.66667%}
.column-laptop-2-5{max-width:40%}
.column-laptop-3-5{max-width:60%}
.column-laptop-4-5{max-width:80%}}
@media (min-width:70em){.column-desktop-1-2{max-width:50%}
.column-desktop-1-3{max-width:33.33333%}
.column-desktop-1-4{max-width:25%}
.column-desktop-1-5{max-width:20%}
.column-desktop-3-4{max-width:75%}
.column-desktop-2-3{max-width:66.66667%}
.column-desktop-1-6{max-width:16.66667%}
.column-desktop-2-5{max-width:40%}
.column-desktop-3-5{max-width:60%}
.column-desktop-4-5{max-width:80%}}
.test-clas__function{margin:2001.25}
.wrapper{width:100%;margin:0 auto;max-width:1290px;padding:0 7px}
.row{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;margin:0 -7px}
.justify-between{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;width:100%;position:relative}
.header{width:100%;position:fixed;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;padding:16px 0;-webkit-transition:all .5s cubic-bezier(0.215,.61,.355,1);-o-transition:all .5s cubic-bezier(0.215,.61,.355,1);transition:all .5s cubic-bezier(0.215,.61,.355,1)}
.header__wrapper{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;margin:25px 10px;-webkit-transition:all .5s cubic-bezier(0.215,.61,.355,1);-o-transition:all .5s cubic-bezier(0.215,.61,.355,1);transition:all .5s cubic-bezier(0.215,.61,.355,1)}
@media (min-width:64em){.header__wrapper{margin:55px 25px}}
@media (min-width:70em){.header__wrapper{margin-top:55px}}
.header__wrapper .logo{font-family:Ubuntu,sans-serif}
.header__wrapper .logo a{text-decoration:none;color:#fff;text-transform:uppercase;font-size:12px}
@media (min-width:64em){.header__wrapper .logo a{font-size:18px}}
.header__wrapper .menu ul{-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}
.header__wrapper .menu ul li{list-style:none}
@media (min-width:64em){.header__wrapper .menu ul li{padding-left:25px}}
@media (min-width:70em){.header__wrapper .menu ul li{padding-left:55px}}
.header__wrapper .menu ul li.active a{position:relative}
@media (min-width:64em){.header__wrapper .menu ul li.active a{padding-bottom:15px}}
.header__wrapper .menu ul li.active a:after{content:'';position:absolute;border-bottom:2px solid #F0E700;bottom:0;left:0;width:100%}
@media (min-width:64em){.header__wrapper .menu ul li.active a:after{width:50%}}
.header__wrapper .menu ul li a{text-decoration:none;font-family:Ubuntu,sans-serif;font-size:12px;color:#fff;text-transform:none}
@media (min-width:64em){.header__wrapper .menu ul li a{font-size:18px}}
.header.fixed{background-color:#3881D8;z-index:10;-webkit-transition:all .5s cubic-bezier(0.215,.61,.355,1);-o-transition:all .5s cubic-bezier(0.215,.61,.355,1);transition:all .5s cubic-bezier(0.215,.61,.355,1)}
.header.fixed .header__wrapper{margin-top:0;margin-bottom:0;z-index:20}
@media (min-width:64em){.header.fixed .header__wrapper{margin-top:0}}
.header.new{background-color:#3881D8;z-index:1}
.header.new .header__wrapper{margin:0}
.header.new+.wrapper{padding-top:60px}
.menu-opener{width:25px;height:25px;-webkit-border-radius:5px;border-radius:5px;padding:5px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-justify-content:space-around;-ms-flex-pack:distribute;justify-content:space-around;cursor:pointer;z-index:10}
@media (min-width:64em){.menu-opener{display:none}}
.menu-opener span{height:3px;width:100%;background-color:#fff;-webkit-border-radius:3px;border-radius:3px}
@media (max-width:1023px){.header__wrapper .menu{position:fixed;top:-webkit-calc(70px * -5);top:calc(70px * -5);width:100%}
.header__wrapper .menu ul{-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;padding:0}
.header__wrapper .menu ul li{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;padding:0 50px;margin:10px 2px}
.header__wrapper .menu ul li a{text-decoration:none;color:#fff;font-size:10px;padding-bottom:2px;text-transform:uppercase}
.header__wrapper .menu.menu-is-active{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;position:fixed;top:30%;background-color:#3881D8;z-index:8;width:50%;left:50%;right:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);-webkit-transition:all .6s cubic-bezier(0.215,.61,.355,1);-o-transition:all .6s cubic-bezier(0.215,.61,.355,1);transition:all .6s cubic-bezier(0.215,.61,.355,1);-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center}
.header__wrapper .menu.menu-is-active a:hover{border-bottom:1px solid #F0E700}}
.hero{background-image:url(../img/header-img.jpg);background-repeat:round;height:100vh}
.hero__description{text-align:center;margin:100px 20px 60px}
@media (min-width:768px){.hero__description{margin:150px 0;text-align:none}}
@media (min-width:64em){.hero__description{margin-top:290px;text-align:none}}
.hero__description .title{font-weight:500;font-size:30px;font-family:Ubuntu,sans-serif;color:#fff;margin-top:60px;text-transform:none}
@media (min-width:64em){.hero__description .title{font-size:80px;font-family:Ubuntu,sans-serif;color:#fff}}
.hero__description .right-t{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:end;-webkit-justify-content:flex-end;-ms-flex-pack:end;justify-content:flex-end;text-align:start}
.hero__description .right-t .text{font-size:12px;font-family:Ubuntu,sans-serif;color:#fff;text-transform:none;margin:15px 0 50px;padding-bottom:10px;border-bottom:1px solid #fff;width:60%}
@media (min-width:768px){.hero__description .right-t .text{width:60%;margin-top:25px;padding-bottom:15px}}
@media (min-width:64em){.hero__description .right-t .text{font-size:20px;width:70%;margin-top:55px;padding-bottom:44px}}
.section-project-description{margin:30px 0 25px}
@media (min-width:64em){.section-project-description{margin:60px 0 50px}}
.section-project-description .project-description{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}
@media (min-width:768px){.section-project-description .project-description{text-align:unset;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;margin-bottom:30px}}
@media (min-width:70em){.section-project-description .project-description{margin-bottom:60px}}
.section-project-description .project-description>div:first-child{padding-right:5px}
@media (min-width:768px){.section-project-description .project-description>div:first-child{padding-right:20px}}
@media (min-width:64em){.section-project-description .project-description>div:first-child{padding-right:40px}}
.section-project-description .project-description__img{font-size:0;position:relative}
.section-project-description .project-description__img img{width:100%;height:auto}
.section-project-description .project-description__img.right_ind:after{content:"";position:absolute;top:70px;right:-20px;width:20px;height:99px;background:#ff0}
.section-project-description .project-description__title{margin:20px 0;text-align:left;color:#4D4C4C}
@media (min-width:70em){.section-project-description .project-description__title{margin-bottom:60px}}
.section-project-description .project-description__title span{font-family:Ubuntu,sans-serif;font-weight:700;font-size:20px;text-transform:uppercase}
@media (min-width:768px){.section-project-description .project-description__title span{font-size:25px}}
@media (min-width:64em){.section-project-description .project-description__title span{font-size:30px}}
@media (min-width:70em){.section-project-description .project-description__title span{font-size:40px}}
.section-project-description .project-description__text{text-align:justify;color:#787878}
.section-project-description .project-description__text p{font-family:Ubuntu,sans-serif;font-size:10px;padding-bottom:20px}
@media (min-width:768px){.section-project-description .project-description__text p{font-size:12px}}
@media (min-width:64em){.section-project-description .project-description__text p{font-size:14px}}
@media (min-width:70em){.section-project-description .project-description__text p{font-size:18px}}
.section-project-description .project-description .c-t{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}
.section-project-description .project-reports{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;width:100%;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}
@media (min-width:768px){.section-project-description .project-reports{-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;text-align:unset;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row}}
.section-project-description .project-reports>div:last-child{padding-left:5px}
@media (min-width:768px){.section-project-description .project-reports>div:last-child{padding-left:20px}}
@media (min-width:64em){.section-project-description .project-reports>div:last-child{padding-left:40px}}
.section-project-description .project-reports__img{font-size:0;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:end;-webkit-justify-content:flex-end;-ms-flex-pack:end;justify-content:flex-end;position:relative}
.section-project-description .project-reports__img img{width:100%;height:auto}
.section-project-description .project-reports__img.left_ind:after{content:"";position:absolute;top:70px;left:-20px;width:20px;height:99px;background:#ff0}
.section-project-description .project-reports__link{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;margin-bottom:20px}
@media (min-width:768px){.section-project-description .project-reports__link{margin-bottom:0}}
.section-project-description .project-reports__link a{text-decoration:none;color:#57A4FF;font-size:12px;font-family:Ubuntu,sans-serif;margin:2px 0;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:reverse;-webkit-flex-direction:row-reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse;-webkit-box-pack:end;-webkit-justify-content:flex-end;-ms-flex-pack:end;justify-content:flex-end;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}
@media (min-width:768px){.section-project-description .project-reports__link a{font-size:14px}}
@media (min-width:64em){.section-project-description .project-reports__link a{font-size:18px}}
@media (min-width:70em){.section-project-description .project-reports__link a{font-size:20px}}
.section-project-description .project-reports__link a img{padding-right:10px;width:11%}
@media (min-width:768px){.section-project-description .project-reports__link a img{width:13%;padding-right:10px}}
@media (min-width:64em){.section-project-description .project-reports__link a img{margin:12px 0;padding-right:20px}}
@media (min-width:70em){.section-project-description .project-reports__link a img{margin:16px 0}}
.section-project-description .project-reports__link a:hover{color:#C4C4C4}
.section-project-description .project-reports__link a:hover img{-webkit-filter:grayscale(1);filter:grayscale(1)}
.section-project-description .project-reports__title{color:#4D4C4C;margin-bottom:10px}
@media (min-width:64em){.section-project-description .project-reports__title{margin-bottom:30px}}
@media (min-width:70em){.section-project-description .project-reports__title{margin-bottom:50px}}
.section-project-description .project-reports__title span{font-family:Ubuntu,sans-serif;font-weight:700;font-size:20px;text-transform:uppercase}
@media (min-width:64em){.section-project-description .project-reports__title span{font-size:30px}}
@media (min-width:70em){.section-project-description .project-reports__title span{font-size:40px}}
.section-project-indexes{background-image:url(../img/indexes.jpg);position:relative;padding:35px 0}
@media (min-width:64em){.section-project-indexes{padding:100px 0}}
.section-project-indexes .bg-color{position:absolute;background-image:-webkit-linear-gradient(333.66deg,rgba(57,116,185,.9) 16.79%,rgba(56,129,216,.9) 58.68%);background-image:-o-linear-gradient(333.66deg,rgba(57,116,185,.9) 16.79%,rgba(56,129,216,.9) 58.68%);background-image:linear-gradient(116.34deg,rgba(57,116,185,.9) 16.79%,rgba(56,129,216,.9) 58.68%);top:0;left:0;width:100%;height:100%}
.project-indexes{color:#fff;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;margin:0 -7px;position:relative}
.project-indexes__title{font-family:Ubuntu,sans-serif;font-weight:700;text-transform:uppercase;font-size:15px;margin-bottom:30px;text-align:center}
@media (min-width:768px){.project-indexes__title{font-size:20px;margin-bottom:40px;text-align:justify}}
@media (min-width:64em){.project-indexes__title{font-size:30px}}
@media (min-width:70em){.project-indexes__title{font-size:40px;margin-bottom:50px}}
.project-indexes__text{font-family:Ubuntu,sans-serif;font-size:11px}
@media (min-width:768px){.project-indexes__text{font-size:14px}}
@media (min-width:64em){.project-indexes__text{font-size:16px}}
@media (min-width:70em){.project-indexes__text{font-size:20px}}
.project-row{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;width:100%;margin-bottom:10px;padding-top:5px;border-top:1px solid #57A4FF}
@media (min-width:768px){.project-row{margin-bottom:20px;padding-top:10px}}
@media (min-width:64em){.project-row{margin-bottom:30px;padding-top:14px}}
@media (min-width:70em){.project-row{margin-bottom:35px;padding-top:18px}}
.project-row .project-col{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}
.project-row .project-col-title{width:86%}
.project-row .project-col-title.two-cols div{width:50%}
.project-row .project-col-number{width:14%;-webkit-box-pack:end;-webkit-justify-content:flex-end;-ms-flex-pack:end;justify-content:flex-end}
.section-news{background-color:#F6F6F6;padding:30px 0}
@media (min-width:64em){.section-news{padding:60px 0}}
@media (min-width:70em){.section-news{padding:80px 0}}
.section-news .news__title{font-family:Ubuntu,sans-serif;font-weight:700;text-transform:uppercase;font-size:20px;color:#4D4C4C;margin-bottom:20px}
@media (min-width:768px){.section-news .news__title{font-size:20px}}
@media (min-width:64em){.section-news .news__title{font-size:30px}}
@media (min-width:70em){.section-news .news__title{font-size:40px;margin-bottom:50px}}
.section-news .news__items{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row}
@media (min-width:768px){.section-news .news__items{margin:0 -7px!important}}
@media (min-width:64em){.section-news .news__items{margin:0 -14px!important}}
.section-news .news__items .news-item{font-family:Ubuntu,sans-serif;width:-webkit-calc(100% - 30px);width:calc(100% - 30px)}
@media (min-width:768px){.section-news .news__items .news-item{padding:0 7px}}
@media (min-width:64em){.section-news .news__items .news-item{padding:0 15px}}
.section-news .news__items .news-item__img{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;position:relative}
.section-news .news__items .news-item__img:hover{-webkit-filter:grayscale(1);filter:grayscale(1)}
.section-news .news__items .news-item .news__img-width{overflow:hidden;max-height:170px}
.section-news .news__items .news-item__img.left_ind:after{content:"";position:absolute;top:149px;width:20px;height:99px;background:#ff0}
.section-news .news__items .news-item__title{font-style:medium;font-size:16px;margin:10px 0}
.section-news .news__items .news-item__title a{text-decoration:none;color:#4D4C4C}
.section-news .news__items .news-item__title a:hover{color:#C4C4C4}
@media (min-width:768px){.section-news .news__items .news-item__title{font-size:18px;margin:10px 0}}
@media (min-width:64em){.section-news .news__items .news-item__title{font-size:22px;margin-bottom:20px}}
.section-news .news__items .news-item__date{font-size:14px;color:#C4C4C4;margin:10px 0}
@media (min-width:768px){.section-news .news__items .news-item__date{font-size:14px;margin:5px 0 10px}}
@media (min-width:64em){.section-news .news__items .news-item__date{font-size:18px}}
.section-news .news__items .news-item__text{font-size:12px;color:#787878;margin:10px 0}
@media (min-width:768px){.section-news .news__items .news-item__text{font-size:14px;color:#787878;margin-bottom:15px}}
@media (min-width:64em){.section-news .news__items .news-item__text{font-size:18px;color:#787878;margin-bottom:30px}}
.section-news .news__items .news-item__link a{color:#57A4FF;font-size:14px;text-decoration:none;margin:10px 0;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}
@media (min-width:768px){.section-news .news__items .news-item__link a{font-size:16px;margin:10px 0}}
@media (min-width:64em){.section-news .news__items .news-item__link a{margin:15px;font-size:18px}}
.section-news .news__items .news-item__link a span{padding-right:10px}
.section-news .news__items .news-item__link a:hover{color:#C4C4C4}
.section-news .news__items .news-item__link a:hover img{-webkit-filter:grayscale(1);filter:grayscale(1)}
.section-gallery{background-color:#FFF}
@media (min-width:768px){.section-gallery .slick-carousel .slick-dots{margin-bottom:10px}}
.slick-carousel .slide-content{margin:0 10%;padding:50px 100px;background:#fff}
.slick-carousel .slick-list{margin:20px 0}
.slick-carousel .slick-next,.slick-carousel .slick-prev{position:absolute;width:15px;height:15px;color:#57A4FF;display:none!important;-webkit-background-size:25px 25px;background-size:25px;background-repeat:no-repeat}
@media (min-width:64em){.slick-carousel .slick-next,.slick-carousel .slick-prev{-webkit-background-size:20px 20px;background-size:20px;width:20px;height:20px;display:inline-block!important}}
@media (min-width:1400px){.slick-carousel .slick-next,.slick-carousel .slick-prev{-webkit-background-size:30px 30px;background-size:30px;width:30px;height:30px}}
.slick-carousel .slick-next:hover,.slick-carousel .slick-prev:hover{color:#E5E5E5}
.slick-carousel .slick-prev{background-image:url(../img/arrow-left.svg);left:-15px}
@media (min-width:64em){.slick-carousel .slick-prev{left:-5px}}
@media (min-width:1400px){.slick-carousel .slick-prev{left:-60px}}
@media (min-width:1600px){.slick-carousel .slick-prev{left:-120px}}
.slick-carousel .slick-next{background-image:url(../img/arrow-right.svg);right:-15px}
@media (min-width:64em){.slick-carousel .slick-next{right:-5px}}
@media (min-width:1400px){.slick-carousel .slick-next{right:-60px}}
@media (min-width:1600px){.slick-carousel .slick-next{right:-120px}}
.slick-carousel .slick-next:before,.slick-carousel .slick-prev:before{content:''}
.slick-carousel .slick-dots{list-style:none;margin:0 auto;text-align:center}
.slick-carousel .slick-prev:focus,.slick-carousel .slick-prev:hover{background-image:url(../img/arrow-lefthover.svg)}
.slick-carousel .slick-next:focus,.slick-carousel .slick-next:hover{background-image:url(../img/arrow-righthover.svg)}
.slick-carousel .slick-dots li.slick-active button:before{color:#57A4FF}
@media (max-width:37.5em){.slick-carousel .slick-dots{bottom:0}}
@media (min-width:768px){.slick-carousel .slick-dots{margin:30px 0}}
.section-news-description{margin:40px 0;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}
@media (min-width:64em){.section-news-description{margin:80px 0}}
.section-news-description .news-description{position:relative}
@media (min-width:768px){.section-news-description .news-description{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center}}
.section-news-description .news-description__img.right_ind:after{content:"";position:absolute;top:70px;width:20px;height:99px;background:#ff0}
.section-news-description .news-description__title{font-family:Ubuntu,sans-serif;font-style:medium;font-size:20px;color:#4D4C4C;margin-top:35px;font-weight:700}
@media (min-width:768px){.section-news-description .news-description__title{font-size:20px;margin:55px 20px 0}}
@media (min-width:64em){.section-news-description .news-description__title{font-size:25px;margin-top:70px}}
@media (min-width:70em){.section-news-description .news-description__title{font-size:32px;margin-top:70px}}
.section-news-description .news-description__date{font-family:Ubuntu,sans-serif;font-size:12px;color:#C4C4C4;margin-top:15px}
@media (min-width:768px){.section-news-description .news-description__date{font-size:16px;margin:25px 20px}}
@media (min-width:64em){.section-news-description .news-description__date{margin-top:30px}}
@media (min-width:70em){.section-news-description .news-description__date{font-size:18px;margin-top:30px}}
.section-news-description .news-description__link{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}
.section-news-description .news-description__link a{font-family:Ubuntu,sans-serif;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;font-size:12px;color:#57A4FF;margin-left:5px;text-decoration:none}
@media (min-width:768px){.section-news-description .news-description__link a{font-size:18px;margin-left:10px}}
@media (min-width:64em){.section-news-description .news-description__link a{font-size:18px;margin-left:10px}}
@media (min-width:70em){.section-news-description .news-description__link a{font-size:20px;margin-left:15px}}
.section-news-description .news-description__link a span{padding-left:10px}
.section-news-description .news-description__link a span img{width:4%}
@media (min-width:768px){.section-news-description .news-description__link a span img{width:1%}}
.section-news-description .news-description__link a:hover{color:#C4C4C4}
.section-news-description .news-description__link a:hover img{-webkit-filter:grayscale(1);filter:grayscale(1)}
.section-news-description .news-text{font-family:Ubuntu,sans-serif;font-size:12px;color:#787878;margin:20px 8px 0}
@media (min-width:768px){.section-news-description .news-text{font-size:12px;margin:40px 10px 60px}}
@media (min-width:64em){.section-news-description .news-text{font-size:14px;margin:60px 10px 80px}}
@media (min-width:70em){.section-news-description .news-text{font-size:18px;margin:60px 0 80px}}
.section-news-description .news-text p{padding-bottom:10px}
@media (min-width:768px){.section-news-description .news-text p{padding-bottom:15px}}
@media (min-width:64em){.section-news-description .news-text p{padding-bottom:18px}}
#map-canvas{height:500px;width:100%}
.footer,.footer__map{position:relative}
.footer__box{margin:120px 60px;padding:10px;font-size:10px;font-family:Ubuntu,sans-serif;border-right:10px solid #F0E700;color:#787878;max-width:410px;position:absolute;top:0;background-color:#fff;-webkit-box-shadow:0 2px rgba(0,0,0,.3);box-shadow:0 2px rgba(0,0,0,.3)}
@media (min-width:768px){.footer__box{margin:65px 60px;padding:35px 50px;font-size:14px}}
@media (min-width:64em){.footer__box{margin-top:82px;padding:68px 55px;font-size:18px}}
.footer__copyright{background-color:#262627;color:#787878;font-size:10px;font-family:Ubuntu,sans-serif;text-align:center;padding:10px 0}
@media (min-width:64em){.footer__copyright{font-size:16px}}